<form action="/add" method="Post">
<p>Álbum:</p>
<input type="text" name="album">
<p>Artista:</p>
<input type="text" name="artista">
<p>Gênero:</p>
<input type="text" name="genero">
<p>Ano:</p>
<input type="text" name="ano">
<button type="Enviar">Enviar Álbum</button>
</form>